body {
    background-color: coral;
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", "Times New Roman", serif;
    margin: 0;
}

.main-navbar {
    display: flex;
    justify-content: start;
    background-color: yellow;
}

.header-logo img {
    width: 100px;
    height: auto;
}

.header-links {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
}

.header-links a {
    color: red;
    font-family: sans-serif;
    font-size: 18px;
}

.intro {
    display: flex;
    justify-content: space-around;
}